@import "../../../styles/variables.scss";

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .main-section {
    flex-grow: 1;

    background: $gray-bg;
  }

  .form-section {
    flex-grow: 0.3;
    padding: 0 2rem;
    gap: 2rem;

    h2 {
      font-size: 1.3rem;
      font-weight: bold;
    }

    .btn-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 1.5rem;

      .divider {
        font-size: 1rem;
        text-transform: uppercase;
        color: $gray-bg;
        font-weight: 400;
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;

        div {
          flex: 1;
          height: 2px;
          background-color: $gray-bg;
        }
      }

      button {
        border-radius: 8px;
        font-size: 1rem;
        font-weight: 500;
        border: none;
        background: transparent;
        padding: 0.9rem;
        width: 100%;
        transition: all 0.2s ease;

        &:disabled {
          opacity: 0.5;
          pointer-events: none;
        }

        &:hover {
          cursor: pointer;
          transform: scale(1.05);
        }

        &.btn-primary {
          background: $primary-color;
          color: white;
          box-shadow: 0 5px 10px 5px  rgba(0, 0, 0, 0.2);
        }
        &.btn-secondary {
          border: 1px solid $primary-color;
          color:  $primary-color;
        }
      }
    }
  }
}
